# ArchRoyal Linux's EditorConfig specification
# More info at https://editorconfig.com

# Specify this is the top-most config
root = true

# Use Unix-style newlines and a newline at the end of every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[src/usr/{bin,lib,share/archroyal/lang}/*]
indent_style = space
indent_size = 2

[src/usr/{bin,lib}/*]
max_line_length = 120
